</div>
</div>
<footer class="content_top">
<div class="container">
  <div class="clearfix"> </div>
  <div class="grid_4">
          <div class="col-md-7 grid_6">
              <h3>
                  Want to sell <br>
                  your real estate?
              </h3>
          </div>
          <div class="col-md-5 grid_5">
              <div class="banner2">
                  <a class="btn2" href="#">click here</a>
                  <h3>
                      FOR A FREE <br>
                      APPRAISAL
                  </h3>
                  <div class="clearfix"> </div>
              </div>
          </div>
          <div class="clearfix"> </div>
  </div>
  <div class="grid_7">
    <div class="col-md-4 box_4">
      <h4>Receive our Newsletter</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq.</p>
        <div class="search">
        <form>
           <input type="text" value="">
           <input type="submit" value="Subscribe">
        </form>
        </div>
    </div>
    <div class="col-md-4">
      <address class="footer-addr">
                  totam rem aperiam, <br>
                  voluptatum deleniti , USA <br>
                  E-MAIL:
                  <a href="#">MAIL@DEMOLINK.ORG</a>

                  <div class="phone">
                      <span>(500)</span> 1254 6487
                  </div>
              </address>
    </div>
    <div class="col-md-2">
      <ul class="list_2">
                  <li>
                      <a href="#">1st &amp; 2nd Mortgages</a>
                  </li>
                  <li>
                      <a href="#">Construction Loans</a>
                  </li>
                  <li>
                      <a href="#">Fractional Ownerships</a>
                  </li>
                  <li>
                      <a href="#">Home Refinancing</a>
                  </li>
                  <li>
                      <a href="#">Home Equity Lines</a>
                  </li>
          </ul>
    </div>
    <div class="col-md-2">
      <ul class="list_2">
                  <li>
                      <a href="#">1st &amp; 2nd Mortgages</a>
                  </li>
                  <li>
                      <a href="#">Construction Loans</a>
                  </li>
                  <li>
                      <a href="#">Fractional Ownerships</a>
                  </li>
                  <li>
                      <a href="#">Home Refinancing</a>
                  </li>
                  <li>
                      <a href="#">Home Equity Lines</a>
                  </li>
          </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="copy">
    <p>© 2015 All Rights Reseverd Template by <a href="http://w3layouts.com/">W3layouts</a> </p>
  </div>
</div>
</footer>
</body>
</html>
