<!DOCTYPE HTML>
<html>
  <head>
    <title>Realist an Real_Estate Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Realist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet:100,300,400,500,600,700,800,900' type='text/css'>
    <!-- Menu -->
    <script src="vendor/ResponsiveSlides/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
          	auto: true,
          	nav: true,
          	speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
     <!----font-Awesome----->
    <link rel="stylesheet" href="vendor/font-awesome-css/css/font-awesome.min.css">
    <!----font-Awesome----->
    <script src="javascripts/easyResponsiveTabs.js" type="text/javascript"></script>
    		    <script type="text/javascript">
    			    $(document).ready(function () {
    			        $('#horizontalTab').easyResponsiveTabs({
    			            type: 'default', //Types: default, vertical, accordion
    			            width: 'auto', //auto or any width like 600px
    			            fit: true   // 100% fit in a container
    			        });
    			    });
    </script>
  </head>
  <body>
    <div class="header">
    	<div class="col-xs-4">
    	  <div class="logo">
    		<a href="index.html"><img src="images/logo.png" alt=""/></a>
    	  </div>
    	</div>
    	<div class="col-xs-8 header_right">
    	  <span class="menu"></span>
    			<div class="top-menu">
    				<ul>
    					<li><a class="active scroll" href="index.html"><i class="fa fa-home"> </i>Home</a></li>
    					<li><a href="about.html"><i class="fa fa-star"> </i> About</a></li>
    					<li><a href="services.html"><i class="fa fa-thumbs-up"> </i>Services</a></li>
    					<li><a href="gallery.html"><i class="fa fa-picture-o"> </i>Gallery</a></li>
    					<li><a href="contact.html"><i class="fa fa-envelope-o"> </i>Contact</a></li>
    					<div class="clearfix"></div>
    				</ul>
    			 </div>
    			<!-- script for menu -->
    				<script>
    				$( "span.menu" ).click(function() {
    				  $( ".top-menu" ).slideToggle( "slow", function() {
    				    // Animation complete.
    				  });
    				});
    			</script>
    			<!-- script for menu -->
    	</div>
    	<div class="clearfix"> </div>
    </div>
    <div class="content_top">
      <div class="container">
